# https://dart.dev/tools/private-files
# Created by `dart pub`
.dart_tool/

# Dependências e artefatos do Dart
.dart_tool/
build/
pubspec.lock

# Configuração local com segredos
.env

# Editores
.idea/
.vscode